.div1{

    background: #5DEAA8;
    height: 100px;
    width: 200px;
    }

.div2{
    border: 10px solid #3EC483;
    background: #5DEAA8;
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    }

.div3{
    background: #5DEAA8;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 40px;
    }
.div4 {
    background: #5DEAA8;
    height: 100px;
    width: 200px;
    padding: 20px 50px;
    margin: 40px 30px;
    }
    .div5{
        background: #5DEAA8;
        height: 100px;
        width: 200px;
        padding: 20px 50px 60px;
        margin: 40px 30px 70px;
        }
        .div6{
            background: #5DEAA8;
            height: 100px;
            width: 200px;
            padding: 20px 50px 60px 90px;
            margin: 40px 30px 70px 80px;
            }